/**********************/
/* Custom aanpassigen */
/**********************/
/*TODO - Put some order in this*/
body {
    background-color: #2B2B2B;
}

.coverphoto {
    max-height: 50vh;
    min-height: 50vh;
}

.coverphoto img {
    max-height: 50vh;
    min-height: 50vh;
    object-fit: cover;
    object-position: 50% 30%;
    width: 100%;
}

.description h2 {
    color: #dddddd;
}

.errorText {
    padding-top: 3em;
    color: #dddddd;
}

.btn-grey, .btn-file {
    color: #fff;
    background-color: #535353;
    border-color: #454545;
}

.btn-grey:hover, .btn-file:hover {
    color: #fff;
    background-color: #3d3d3d;
    border-color: #303030;
}

.greeting {
    color: #9d9d9d;
}

.content-container {
    color: #BABABA;
}

.dropdown-menu .dropdown-header:hover {
    background-color: #3B3B3B;
}

.navbar .active {
    background-color: #232323;
}

.navbar li:hover {
    background-color: #080808;
}

#register-form, #contact-form {
    padding-top: 1em;
}

#register-form .input-group {
    width: 50%;
}

.btn-lightgrey {
    color: #fff;
    background-color: #8b8b8b;
    border-color: #727272;
}

.page-header {
    margin-bottom: 0;
}

#login-form .has-error .form-control, #register-form .has-error .form-control {
    border-color: #f31300;
}

#login-form .has-error .form-control:focus, #register-form .has-error .form-control:focus {
    border-color: #e30000;
}

#login-form .input-group .form-control, #register-form .input-group .form-control, #contact-form .input-group .form-control,
#newspost-form .input-group .form-control, #comment-form .input-group .form-control, #show-form .input-group .form-control {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.dropdown-menu {
    background-color: #3b3b3b;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.dropdown-menu li a {
    color: whitesmoke;
}

#login-form .navbar-text {
    margin-top: 7px;
    margin-bottom: 7px;
}

.btn-lightgrey:hover {
    color: #fff;
    background-color: #5e5e5e;
    border-color: #454545;
}

/* disable chrome's ugly yellow autofill color*/
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px white inset;
}

.soc-med {
    display: inline-flex;
    list-style: none;
}

.soc-med img {
    max-height: 3em;
    min-height: 3em;
    max-width: 3em;
    min-width: 3em;
}

.unobtrusiveLink, .unobtrusiveLink:hover, .unobtrusiveLink:active, .unobtrusiveLink:visited {
    color: #BABABA;
    text-decoration: none;
}

.newsWell {
    background-color: #5d5d5d;
}

.commentWell {
    background-color: #3d3d3d;
}

.file-preview {
    background-color: white;
}

textarea {
    resize: vertical;
}

#navbar-tickets, #navbar-tickets:visited {
    background-color: #656565;
    color: #ffffff;
    padding-left: 4rem;
    padding-right: 4rem;
}

#navbar-tickets:active {
    background-color: #2b2b2b;
}

#navbar-tickets:hover {
    background-color: #101010;
    color: white;
}

